@import '../../styles/global.styles';

// ************* PORTFOLIO PREVIEW TEMPLATE COMPONENT STYLES ************* //
.portfolioPreviewTemplate {
  height: 50rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  
  // HEADER SECTION
  .headerContainer {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
    .title {
      color: $black;
      font-family: $primary-font;
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
    
    .name {
      color: $black;
      font-family: $primary-font;
      font-size: 3.6rem;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }
    
    .description {
      color: $black;
      font-family: $secondary-font;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
    }
    
    .link {
      color: $strong-blue;
      margin-top: 2rem;
      text-align: center;
      font-family: $primary-font;
      font-size: 1.3rem;
      font-weight: 700;
      text-align: center;
    }
  }
  
  // IMAGE SECTION
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 65%;
    max-width: $bp-xl;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  // ########################## PORTFOLIO PROJECTS ##########################

  // ########## AGILE CLIENT ##########
  &.agileclient {
    background: $light-blue;
    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/agile-client-homepage-1.png');
    }
  }

  // ########## THE BLOCK ##########
  &.theblock {
    background: $grey;
    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/the-block-homepage-1.png');
    }
  }

  // ########## MUNCH ICECREAM ##########
  &.munchicecream {
    background: $flamingo-pink;
    
    // HEADER SECTION
    .headerContainer {
      // margin: 2rem 0;
    }

    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/munch-icecream-homepage-1.png');
    }
  }
  
  // ########## BOUTIQUE HIPSTER ##########
  &.boutiquehipster {
    background: lighten(salmon, 5%);
    // HEADER SECTION
    .headerContainer {
      // margin: 2rem 0;
    }
    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/boutique-hipster-homepage-1.png');
    }
  }

  // ########## SKYNET ##########
  &.skynet {
    background: lighten($dark-grey, 30%);
    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/skynet-homepage-1.png');
    }
  }

  // ########## TECH VICE ##########
  &.techvice {
    background: lighten($warning, 15%);
    // IMAGE SECTION
    .imageContainer {
      background-size: contain;
      background-position: top;
      background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)), url('../../assets/tech-vice-productpage-1.png');
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .portfolioPreviewTemplate {
    height: 70rem;

    // HEADER SECTION
    .headerContainer {
      
      .title {
        font-size: 1.5rem;
      }
      
      .name {
        font-size: 4.8rem;
      }
      
      .description {
        font-size: 1.5rem;
      }
  
      .link {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: $bp-md) {
  .portfolioPreviewTemplate {

  }
}

@media screen and (min-width: $bp-lg) {
  .portfolioPreviewTemplate {
    // HEADER SECTION
    .headerContainer {
      
      .title {
        font-size: 1.6rem;
      }
      
      .name {
        font-size: 6rem;
      }
      
      .description {
        font-size: 1.6rem;
      }
  
      .link {
        font-size: 1.6rem;
      }
    }
  }
}